.about{
    margin: 70px;
}
.abouttop{
    margin: 70px;     
}

.aboutImg{
    display: block;
    margin: 0%;
    background-size: 500% 500%;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    text-align: center;
}

.aboutbottom{
    display: block;
    align-items: center;

}
.aboutbottom > p{
    padding: 30px;
}