.top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;  
    z-index: 999;  
    font-family: "Josefin Sans", sans-serif;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

.topLeft,.topRight{
    border-width: 50%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color:#444;
    cursor: pointer;
}

.topCenter{
    flex: 6;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 30px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;  
    font-family: "Varela Round", sans-serif;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topSearch{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
