.sidebar{
    flex: 3;
    position: sticky;
    align-items: center;
    height: fit-content;
    margin-top: 70px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius:  10px;
    display: flex;
    flex-direction: column;   
    margin-right: 120px;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 15px;
    padding: 5px;
    width: 60%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #222;
    font-weight: 700;
}

.sidebarItem > img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.sidebarItem > p {
    display: inline-flex;
    padding: 30px;
    
}

.sidebarList {
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    cursor: pointer;
    font-family: "Lato", sans-serif; 
    margin-top: 5px;
}

.sidebarSocial {
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.sidebarIcon {
    font-size: 30px;
    margin-left: 10px;
  }