.header{
    margin: 160px;
    border-bottom: solid 1px;
    border-spacing: 50px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}


.headerTitle{
    position: absolute;
    top: 10%;
    font-size: 80px;
    color: 444;
    font-family: "Lora", serif;
}
